@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
    height: 100%;
}

h1,h2,h3,h4,h5{
    font-family: 'Montserrat Variable', sans-serif;
}

body {
    height: 100%;
    overflow: auto;
    font-family: 'Open Sans Variable', sans-serif;    
}

::-moz-selection {
    background: rgba(255,217,215, 0.3);
  }
  ::-webkit-selection {
    background: rgba(255,217,215, 0.3);
  }
  ::selection {
    background: rgba(255,217,215, 0.3);
  }
